DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=live_checker

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
SECRET_KEY=your_super_secret_key_here

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_BOT_USERNAME=testivecheckerbot


VITE_API_URL=http://localhost:8000